In [12]:
import numpy as np 
import pandas as pd
from sklearn.naive_bayes import BernoulliNB, GaussianNB

In [2]:
X = np.array([["Red", "Sports", "Domestic"],
              ["Red", "Sports", "Domestic"], 
              ["Red", "Sports", "Domestic"], 
              ["Yellow", "Sports", "Domestic"], 
              ["Yellow", "Sports", "Imported"],
              ["Yellow", "SUV", "Imported"], 
              ["Yellow", "SUV", "Imported"], 
              ["Yellow", "SUV", "Domestic"],
              ["Red", "SUV", "Imported"], 
              ["Red", "Sports", "Imported"]])
Y = np.array(["Yes", "No", "Yes", "No", "Yes", "No", "Yes", "No", "No", "Yes"])

In [3]:
X = pd.DataFrame(X, columns=['color', 'type', 'origin'])
X_now = pd.get_dummies(X)
X_now

,color_Red,color_Yellow,type_SUV,type_Sports,origin_Domestic,origin_Imported
0,1,0,0,1,1,0
1,1,0,0,1,1,0
2,1,0,0,1,1,0
3,0,1,0,1,1,0
4,0,1,0,1,0,1
5,0,1,1,0,0,1
6,0,1,1,0,0,1
7,0,1,1,0,1,0
8,1,0,1,0,0,1
9,1,0,0,1,0,1

In [5]:
Y = pd.DataFrame(Y, columns= ['stolen'])
Y_now = pd.get_dummies(Y, drop_first=True)
Y_now

   stolen_Yes
0           1
1           0
2           1
3           0
4           1
5           0
6           1
7           0
8           0
9           1

In [9]:
clf = BernoulliNB()
clf.fit(X_now, Y_now)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

BernoulliNB()

In [10]:
X_new = [[1,0,1,0,1,0], [0,1,0,1,0,1]] # Red, SUV, Domestic, Sport, Imported

In [11]:
predicted = clf.predict(X_new)
predicted

array([0, 1], dtype=uint8)

In [15]:
#Create a Gaussian Classifier
model = GaussianNB()
model.fit(X_now, Y_now)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GaussianNB()

In [16]:
predicted = clf.predict(X_new)
predicted

array([0, 1], dtype=uint8)